<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="#">
  </head>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>, please login:</p>
  <form action="form_action.asp" method="get">
    Username:<input type='text' id="username" name="username" placeholder="Please enter username"/>
    <div>
    Password<input type="password" id="password" name="password" placeholder="Please enter password"/>
    <div class="form-actions">
      <input class='btn' type="button" value="submit"
        onclick="javascript: function display_alert()"/>
      </div>
  </form>

  <script src='https://github.com/Ben-G-FG873/CsIA/blob/main/register.js'type="text/javascript">
  </script>

      
  </form>
</body>

</html>