<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="#">
  </head>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>, please login:</p>
  <form action="form_action.asp" method="get">
    Username:<input type='text' id="username" name="username" placeholder="Please enter username"/>
    <div>
    Password<input type="password" id="password" name="password" placeholder="Please enter password"/>
    <div class="form-actions">
      <input class='btn' type="button" value="submit"
        onclick="javascript: alert()"/>
      </div>
  </form>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Ben-G-FG873/CsIA@v1.0.1/node_modules/require.js/require.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Ben-G-FG873/CsIA@v1.0.1/node_modules/mysql/index.js"></script>
  <script type="text/javascript" src='https://cdn.jsdelivr.net/gh/Ben-G-FG873/CsIA@v1.0.1/register.js'></script>
  <script type="text/javascript">
    function alert(){
      display_alert()
    }
    ;

  </script>

      
  </form>
</body>

</html>